@import url('https://fonts.googleapis.com/css?family=Open+Sans;400,700|Squada+One|Raleway:600|&display=swap');

.container {
    text-align: center;
}

.section-1 {
    background: rgb(35,82,128);
    background: linear-gradient(90deg, rgba(35,82,128,1) 0%, rgba(37,100,138,1) 51%, rgba(42,116,148,1) 100%);
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-bottom: 5em;
}

nav {
    margin-bottom: 0;
}

.navbar img{
    max-width: 10em;
    height: auto;
}

.section-1-title {
    margin-top: 5em;
}

.section-1-title h1 {
    color: white;
    font-family: 'Squada One', sans-serif;
    font-weight: light;
}

.section-1-title .head  {
    text-shadow: 7px 7px 0 rgb(8, 51, 84);
}

@media (min-width: 451px) {
    .section-1-title .sub-head{
        font-size: 3em;
    }

    .section-1-title .head {
        font-size: 10em;
    }
}
@media (max-width: 450px) {
    .section-1-title .sub-head{
        font-size: 1.3em;
    }
    .section-1-title .head {
        font-size: 5em;
    }

    .section-1-title {
        margin-top: 2em;
    }

    .navbar {
        display: inline;
        text-align: center;
    }

    .navbar img {
        padding-top: 3em;
    }
}


.container {
    text-align: center;
}

.azure-logo {
    margin-top: 3em;
    width: 24em;
    height: 8em;
}

.subtitle {
    padding-top: 1em;
    color: white;
    margin-bottom: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
}

@media (max-width: 450px) {
    .azure-logo {
        width: 15em;
        height: 5em;
    }

    .subtitle {
        font-size: 1em;
    }
}

.section-2 {
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Open Sans', sans-serif;
}

.section-2 .container {
    padding-top: 2em;
}

.section-2 h3 {
    border-bottom: solid rgba(42,116,160,1) 3px;
    padding: 0 0;
    font-weight: bold;
}

.azure-head {
    text-align: left;
}

.event-detail {
    text-align: right;
}

@media (max-width: 450px) {
    .azure-head, .event-detail {
        font-size: 2em;
    }
}

.row .about-102 {
    text-align: left;
    font-size: 1.5em;
}

.row .about-event {
    text-align: right;
    font-size: 1.22em;
}

@media (max-width: 450px) {
    .row .about-102, .row .about-event {
        font-size: 1em;
        text-align: left;
    }
}

.highlight {
    color: rgba(42,116,160,1);
}

.incharge-section {
    padding-top: 3em;
    font-family: 'Open Sans', sans-serif;

    width: 100%;
    height: 50vh;
}


.incharge-head {
    font-weight: bold;
    border-bottom: solid rgba(42,116,160,1) 3px;
}

.incharge-section p {
    font-size: 2em;
    margin-bottom: 0;
    font-weight: bold;
}

.incharge-section .email {
    font-size: 1.5em;
    font-weight: normal;

}

@media (max-width: 450px) {
    .incharge-head {
        font-size: 2em;
    }

    .incharge-section p {
        font-size: 1em;
    }

    .incharge-section .email {
        font-size: 1em;
    }
}

.section-3 {
    background: rgb(35,82,128);
    background: linear-gradient(90deg, rgba(35,82,128,1) 0%, rgba(37,100,138,1) 51%, rgba(42,116,148,1) 100%);
    background-size: cover;
    width: 100%;
    height: 50vh;
    padding-bottom: 5em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3 .container{
    padding-top: 1em;
}

.btn-reg{
  color: rgb(35,82,128);
  background: rgb(255,255,255);
}
